{% extends 'base.html.twig' %}

{% block title %}Connexion {% endblock %}

{% block body %}
 {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
<div class="hero-image" style="background-image: url('images/inscription.jpeg');">
  <div class="hero-text">
  <br> 
   <h1 class = "hs-line-10 font-alt mb-20 mb-xs-0" style="color:white;"> Connexion</h1>
  </div>
</div>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous etes connecté comme {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% endif %}
<div class="container">
    <h2>Veuillez vous connecté:</h2>
    <label for="inputUsername">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
     <button class="btn btn-lg btn-primary" type="submit">
      Connexion
    </button>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se rappeler de moi
            </label>
        </div>
     <h6>   <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié</a> </h6>
</div>

  
    

   
</form>
{% endblock %}
