<div class="card md-4">
<div class="card-body">
<h5 class="card-title">
<a href="{{path('logement_show', {slug : logement.slug, id: logement.id})}}">{{logement.title}} </a>
</h5>
<p class="card-text">{{logement.surface }} m2 - {{logement.city}} {{logement.postalCode}} </p>
<div class="text-primary" style="font-size:2rem;font-weight:bold;">
{{logement.price}}
</div>
 </div>